  <div class="container">
      <div class="row">
          <div class="">
              <h3 class="text-center font-weight-bold">Vehicles</h3>
              <span *ngIf = "!(errormessage$ | async)">
              <div class="card-body">
                <div id="table" class="table-editable">
                  <div class="text-center">
                    <p class="lead" *ngIf = 'Loading'><img src="assets/images/ajax-loader.gif" alt="Loading"></p>
                  </div>
                  <table *ngIf="vehicles?.length>0" class="table table-bordered text-center">
                    <tr>
                      <th class="pt-3-half text-center">#</th>
                      <th class="pt-3-half text-center">Make</th>
                      <th class="pt-3-half text-center">Model</th>
                      <th class="pt-3-half text-center">Seats</th>
                      <th class="pt-3-half text-center">BodyType</th>
                    </tr>
                    <tr  *ngFor="let vehicle of vehicles let i = index">
                      <td class="pt-3-half">{{i+1}}</td>
                      <td class="pt-3-half">{{vehicle.Make}}</td>
                      <td class="pt-3-half">{{vehicle.Model}}</td>
                      <td class="pt-3-half">{{vehicle.Seats}}</td>
                      <td class="pt-3-half">{{vehicle.VehicleType}}</td>
                    </tr>
                  </table>
                  <div class="text-center" *ngIf="vehicles?.length==0">No vehicles to display</div>
                </div>
              </div>
            </span>
            </div>
      </div>
      <div class="row">
          <router-outlet></router-outlet>
      </div>
    </div>
